Диссертация/Resources/Видео/Диссер видео демо.m4v
Диссертация/Resources/Видео/Ресурсы/IMG_5583.m4v
Диссертация/Resources/Видео/Ресурсы/IMG_5584.m4v
Диссертация/Resources/Видео/Ресурсы/IMG_5587.m4v
Диссертация/Resources/Видео/Ресурсы/IMG_5588.m4v
Диссертация/Resources/Видео/Ресурсы/Intro.mov
Диссертация/Resources/Видео/Ресурсы/Камера.mp4
Диссертация/Resources/Видео/Ресурсы/Телефон.mov
Диссертация/Презентация/Презентация Зонов Андрей 2 курс 13 группа
