<!-- These coordinates are done on the largest size of map available: 7000*3001 600dpi -->
<!-- Origin of coordinates is top left angle -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!-- Meeting room Green -->
	<dict>
		<key>minor</key>
		<integer>1</integer>
		<key>x</key>
		<integer>2945</integer>
		<key>y</key>
		<integer>1228</integer>
        <key>h</key>
        <integer>275</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>2</integer>
		<key>x</key>
		<integer>2945</integer>
		<key>y</key>
		<integer>1925</integer>
        <key>h</key>
        <integer>275</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>3</integer>
		<key>x</key>
		<integer>2378</integer>
		<key>y</key>
		<integer>1925</integer>
        <key>h</key>
        <integer>275</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>4</integer>
		<key>x</key>
		<integer>2378</integer>
		<key>y</key>
		<integer>1228</integer>
        <key>h</key>
        <integer>275</integer>
    </dict>

	<!-- Meeting room Conference -->
    <dict>
        <key>minor</key>
        <integer>6</integer>
        <key>x</key>
        <integer>4525</integer>
        <key>y</key>
        <integer>1525</integer>
        <key>h</key>
        <integer>300</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>7</integer>
		<key>x</key>
		<integer>5055</integer>
		<key>y</key>
		<integer>1648</integer>
        <key>h</key>
        <integer>300</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>8</integer>
		<key>x</key>
		<integer>5524</integer>
		<key>y</key>
		<integer>1927</integer>
        <key>h</key>
        <integer>300</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>9</integer>
		<key>x</key>
		<integer>5811</integer>
		<key>y</key>
		<integer>2239</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>10</integer>
		<key>x</key>
		<integer>6687</integer>
		<key>y</key>
		<integer>1735</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>11</integer>
		<key>x</key>
		<integer>6167</integer>
		<key>y</key>
		<integer>1162</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>12</integer>
		<key>x</key>
		<integer>5504</integer>
		<key>y</key>
		<integer>724</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>13</integer>
		<key>x</key>
		<integer>4634</integer>
		<key>y</key>
		<integer>452</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>

	<!-- Kitchen -->

	<dict>
		<key>minor</key>
		<integer>20</integer>
		<key>x</key>
		<integer>2940</integer>
		<key>y</key>
		<integer>780</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>23</integer>
		<key>x</key>
		<integer>3606</integer>
		<key>y</key>
		<integer>780</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>21</integer>
		<key>x</key>
		<integer>4362</integer>
		<key>y</key>
		<integer>785</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>24</integer>
		<key>x</key>
		<integer>4362</integer>
		<key>y</key>
		<integer>108</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>19</integer>
		<key>x</key>
		<integer>3720</integer>
		<key>y</key>
		<integer>108</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>22</integer>
		<key>x</key>
		<integer>2970</integer>
		<key>y</key>
		<integer>108</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>

    <!-- Hall -->

    <dict>
        <key>minor</key>
        <integer>14</integer>
        <key>x</key>
        <integer>4505</integer>
        <key>y</key>
        <integer>425</integer>
        <key>h</key>
        <integer>300</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>15</integer>
		<key>x</key>
		<integer>4385</integer>
		<key>y</key>
		<integer>815</integer>
        <key>h</key>
        <integer>300</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>16</integer>
		<key>x</key>
		<integer>4500</integer>
		<key>y</key>
		<integer>1525</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>18</integer>
		<key>x</key>
		<integer>3975</integer>
		<key>y</key>
		<integer>1510</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>5</integer>
		<key>x</key>
		<integer>3650</integer>
		<key>y</key>
		<integer>1205</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>17</integer>
		<key>x</key>
		<integer>3665</integer>
		<key>y</key>
		<integer>1730</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>28</integer>
		<key>x</key>
		<integer>3630</integer>
		<key>y</key>
		<integer>805</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>27</integer>
		<key>x</key>
		<integer>2915</integer>
		<key>y</key>
		<integer>885</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>

	<!-- Prod - Acct -->

	<dict>
		<key>minor</key>
		<integer>25</integer>
		<key>x</key>
		<integer>2240</integer>
		<key>y</key>
		<integer>825</integer>
        <key>h</key>
        <integer>320</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>26</integer>
		<key>x</key>
		<integer>2355</integer>
		<key>y</key>
		<integer>1200</integer>
        <key>h</key>
        <integer>265</integer>
	</dict>

    <!-- HR -->

    <dict>
        <key>minor</key>
        <integer>29</integer>
        <key>x</key>
        <integer>2210</integer>
        <key>y</key>
        <integer>825</integer>
        <key>h</key>
        <integer>320</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>32</integer>
		<key>x</key>
		<integer>2210</integer>
		<key>y</key>
		<integer>150</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
    <dict>
        <key>minor</key>
        <integer>34</integer>
        <key>x</key>
        <integer>1500</integer>
        <key>y</key>
        <integer>150</integer>
        <key>h</key>
        <integer>320</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>33</integer>
		<key>x</key>
		<integer>1555</integer>
		<key>y</key>
		<integer>815</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>

	<!-- Prod - Marketing & design -->

	<dict>
		<key>minor</key>
		<integer>31</integer>
		<key>x</key>
		<integer>1465</integer>
		<key>y</key>
		<integer>835</integer>
        <key>h</key>
        <integer>295</integer>
    </dict>
	<dict>
		<key>minor</key>
		<integer>30</integer>
		<key>x</key>
		<integer>775</integer>
		<key>y</key>
		<integer>110</integer>
        <key>h</key>
        <integer>310</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>36</integer>
		<key>x</key>
		<integer>115</integer>
		<key>y</key>
		<integer>115</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>37</integer>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>815</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>35</integer>
		<key>x</key>
		<integer>740</integer>
		<key>y</key>
		<integer>805</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>

	<!-- Prod - mainline -->

	<dict>
		<key>minor</key>
		<integer>38</integer>
		<key>x</key>
		<integer>115</integer>
		<key>y</key>
		<integer>1600</integer>
        <key>h</key>
        <integer>275</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>39</integer>
		<key>x</key>
		<integer>830</integer>
		<key>y</key>
		<integer>1550</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>47</integer>
		<key>x</key>
		<integer>1460</integer>
		<key>y</key>
		<integer>1565</integer>
        <key>h</key>
        <integer>250</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>46</integer>
		<key>x</key>
		<integer>1650</integer>
		<key>y</key>
		<integer>1520</integer>
        <key>h</key>
        <integer>275</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>45</integer>
		<key>x</key>
		<integer>2160</integer>
		<key>y</key>
		<integer>1565</integer>
        <key>h</key>
        <integer>275</integer>
	</dict>

	<!-- Admins -->

	<dict>
		<key>minor</key>
		<integer>54</integer>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>2200</integer>
        <key>h</key>
        <integer>310</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>55</integer>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>2945</integer>
        <key>h</key>
        <integer>310</integer>
	</dict>

	<!-- Prod - south -->

	<dict>
		<key>minor</key>
		<integer>53</integer>
		<key>x</key>
		<integer>745</integer>
		<key>y</key>
		<integer>2190</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>52</integer>
		<key>x</key>
		<integer>790</integer>
		<key>y</key>
		<integer>2945</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>51</integer>
		<key>x</key>
		<integer>1540</integer>
		<key>y</key>
		<integer>2190</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>40</integer>
		<key>x</key>
		<integer>1495</integer>
		<key>y</key>
		<integer>2945</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>42</integer>
		<key>x</key>
		<integer>2230</integer>
		<key>y</key>
		<integer>2190</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>44</integer>
		<key>x</key>
		<integer>2230</integer>
		<key>y</key>
		<integer>2945</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>41</integer>
		<key>x</key>
		<integer>2880</integer>
		<key>y</key>
		<integer>2195</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>43</integer>
		<key>x</key>
		<integer>2930</integer>
		<key>y</key>
		<integer>2945</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>

	<!-- Prod - Japan MR -->

	<dict>
		<key>minor</key>
		<integer>50</integer>
		<key>x</key>
		<integer>3575</integer>
		<key>y</key>
		<integer>2195</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>49</integer>
		<key>x</key>
		<integer>3955</integer>
		<key>y</key>
		<integer>2365</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
	<dict>
		<key>minor</key>
		<integer>48</integer>
		<key>x</key>
		<integer>3615</integer>
		<key>y</key>
		<integer>2920</integer>
        <key>h</key>
        <integer>320</integer>
	</dict>
</array>
</plist>